<!DOCTYPE html>
<html>
<head>
  <title>TestFit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale1.0">
</head>
<body>

	<%= render 'layouts/header' %> 
	<div class="container">
		<% flash.each do |name, msg| %>
    		 <%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>
	</div>

<!-- 	The line below, was having the flash message displayed twice. Above
	from the formatted blue box, and again below the container in standard text.
   <p class="notice"><%= notice %></p> -->
   <p class="alert"><%= alert %></p>


</body>
</html>
